:root {
    --primary-color: #333;
    --secondary-color: #fff;
    --overlay-color: rgba(0,0,0,0.54);
    --google-blue: #4285f4;
    --google-grey: rgba(0,0,0,0.54);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Catamaran', sans-serif;
    line-height: 1.6;
    color: #333;
    font-size: 1.1rem;
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    line-height: 1.3;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.container {
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

.navbar {
    font-size: 1.2rem;
    padding-top: 2rem;  
}

.navbar .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.navbar .logo {
    display: flex;
    align-items: center;
    z-index: 2;
}

.navbar .logo i {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
}

.navbar .logo h1 {
    color: var(--secondary-color);
    font-size: 2rem;
    z-index: 2;
}

.navbar .nav {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.navbar .nav a {
    padding: 0 1rem;
}

.navbar .nav a:hover {
    color: #555;
}

.video {
    z-index: 0;
    position: absolute;
    top: 0;
}

.section-a {
    margin: 2rem 0 0 0;
    height: 100vh;
    max-height: 100vh;
}

.section-a .overlay {
    z-index: 1;
    height: calc(100vh + 6.6rem);
}

.section-a .container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem;
    align-items: center;
    justify-content: center;
}

.section-a .container div {
    text-align: center;
    z-index: 2;
}

.section-a h1 {
    font-size: 4rem;
    color: var(--secondary-color);
}

.section-a p {
    font-size: 2rem;
    margin: 1rem 0;
    color: #ccc;
}

.section-b {
    position: relative;
    background-color: #fff;
    height: 600px;
}

.section-b-inner {
    color: var(--google-grey);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    margin: auto;
    max-width: 860px;
    padding: 5rem 0;
    border-bottom: 1px solid #ccc;
}

.section-b-inner h3 {
    font-size: 2rem;
}

.section-b-inner h2 {
    font-size: 3rem;
    margin-top: 1rem;
    color: var(--google-blue);
}

.section-b-inner p {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.section-c .gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.section-c .gallery a {
    overflow: hidden;
}

.section-c .gallery a img {
    transition: transform .35s ease;
}

.section-c .gallery a:hover img {
    transform: scale(1.05);
    transition: transform .35s ease;
}

.section-c .gallery a:first-child {
    grid-row: 1/3;
    grid-column: 1/3;
}

.section-c .gallery a:nth-child(2) {
    grid-column: 3/5;
}

.section-c .gallery img, .section-c .gallery a {
    width: 100%;
    height: 100%;
}

/* Posts */
.section-d {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 5rem 0;
}

.section-d h2 {
    font-size: 3rem;
    
    color: var(--google-blue);
}

.section-d .posts {
    display: grid;
    grid-template-columns: repeat(3, 295px);
    grid-column-gap: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.section-d .posts .post .img-post:nth-child(1) {
    background: url(/img/post-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -50px;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 295px;
}

.section-d .posts .post .img-post .overlay {
    height: 295px;
    width: 295px;
    background: var(--google-grey);
    position: absolute;
    top: auto;
    left: auto;
    z-index: 1;
}

.section-d .posts .post .img-post p {
    color: #fff;
    text-transform: uppercase;
    z-index: 2;
}

.section-d .posts .post p {
    font-size: 1.2rem;
    color: var(--google-grey);
    padding: 1rem 0;
}

/* Footer */
.section-footer {
    background: var(--primary-color);
    color: #fff;
    padding: 4rem 0;
}

.section-footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.section-footer h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.section-footer h3 {
    margin-bottom: 0.7rem; 
}

.section-footer a {
    line-height: 1.9;
    color: #ccc;
}

.section-footer a > i {
    color: #555;
    margin-right: 0.5rem;
}

/* Email Form */
.email-form {
    width: 100%;
    display: inline-block;
    background-color: #fff;
    position: relative;
    line-height: 0;
    margin-top: 1rem;
}

.email-form .form-control {
    display: inline-block;
    border: 0;
    outline: 0;
    font-size: 1rem;
    color: var(--google-grey);
    background-color: transparent;
    font-family: inherit;
    margin: 0;
    padding: 0 3rem 0 1.5rem;
    width: 100%;
    height: 45px;
}

.email-form .submit {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: var(--google-blue);
    font-size: 1rem;
    text-align: center;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    color: #fff;
    cursor: pointer;
}


.btn {
    display: inline-block;
    background-color: var(--google-blue);
    color: #fff;
    padding: 0.8rem 1.5rem;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 0px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
    transition: 0.2s ease;
}

.btn:hover {
    transform: translateY(-5px);
    transition: 0.2s ease;
    box-shadow: 0px 10px 5px rgba(0,0,0,0.3);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--overlay-color);
}